html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* =Global
----------------------------------------------- */
html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll;
  /* Keeps page centred in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}

body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  clear: both;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 28.8px;
  font-size: 2.88rem;
}

h2 {
  font-size: 25.6px;
  font-size: 2.56rem;
}

h3 {
  font-size: 22.4px;
  font-size: 2.24rem;
}

h4 {
  font-size: 19.2px;
  font-size: 1.92rem;
}

h5 {
  font-size: 17.6px;
  font-size: 1.76rem;
}

hr {
  background-color: #cccccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

/* Text elements */
p {
  margin-bottom: 1.5em;
}

ul, ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style-type: disc;
}
ul ul {
  list-style-type: circle;
}
ul ul ul {
  list-style-type: square;
}

ol {
  list-style: decimal;
}

li > ul, li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

b, strong {
  font-weight: bold;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
  background: #f2f2f2;
  margin-bottom: 1.5em;
  padding: 1.5em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
blockquote > *:last-child {
  margin-bottom: 0;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #f2f2f2;
  font-size: 0.9375em;
  margin-bottom: 1.5em;
  padding: 1.5em;
  overflow: auto;
  max-width: 100%;
}

code, kbd, tt, var, pre {
  font-family: Courier, monospace;
}

del {
  color: inherit !important;
}

abbr, acronym {
  border-bottom: 1px dotted #cccccc !important;
  cursor: help;
}

mark, ins {
  color: inherit !important;
  background: #fff9c0 !important;
  text-decoration: none;
}

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}

figure {
  margin: 0;
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

caption, th {
  text-align: center;
  font-weight: bold;
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

button,
input,
select,
textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */
  *vertical-align: middle;
  /* Improves appearance and consistency in all browsers */
}

button,
input {
  line-height: normal;
  /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
  *overflow: visible;
  /* Corrects inner spacing displayed oddly in IE6/7 */
}

.menu-toggle,
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 0.25em 0.5em;
  color: #333333;
  text-shadow: white 0 1px 0;
  background-color: #eeeeee;
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 0 0 inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 0 0 inset;
  box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 0 0 inset;
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
}
.menu-toggle:active, .menu-toggle:hover,
button:active,
button:hover,
html input[type="button"]:active,
html input[type="button"]:hover,
input[type="reset"]:active,
input[type="reset"]:hover,
input[type="submit"]:active,
input[type="submit"]:hover {
  background-color: #f3f3f3;
  -webkit-box-shadow: rgba(255, 255, 255, 0.8) -1px -1px 0 0 inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.8) -1px -1px 0 0 inset;
  box-shadow: rgba(255, 255, 255, 0.8) -1px -1px 0 0 inset;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* Addresses box sizing set to content-box in IE8/9 */
  padding: 0;
  /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */
  -webkit-box-sizing: content-box;
  /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
textarea {
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 0.25em 0.5em;
  color: gray;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #404040;
}

textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 98%;
}

/* Alignment */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}
.screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */
}

/* Clearing */
.clear:before, .clear:after,
[class*="content"]:before,
[class*="content"]:after,
[class*="site"]:before,
[class*="site"]:after {
  content: '';
  display: table;
}
.clear:after,
[class*="content"]:after,
[class*="site"]:after {
  clear: both;
}

/* =Content .entry-content
----------------------------------------------- */
.entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6,
body#tinymce h2,
body#tinymce h3,
body#tinymce h4,
body#tinymce h5,
body#tinymce h6 {
  color: #336600;
  margin-top: 2em;
}
.entry-content li,
body#tinymce li {
  margin-bottom: 0.5em;
}
.entry-content li ul, .entry-content li ol,
body#tinymce li ul,
body#tinymce li ol {
  margin-top: 0.5em;
}

/* =Media .entry-content
----------------------------------------------- */
.entry-content img.wp-smiley,
body#tinymce img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
.entry-content img.alignleft,
.entry-content img.alignright,
.entry-content img.aligncenter,
body#tinymce img.alignleft,
body#tinymce img.alignright,
body#tinymce img.aligncenter {
  max-width: 100%;
  background-color: white;
  border: 1px solid #cccccc !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  padding: 5px;
}
.entry-content .wp-caption,
body#tinymce .wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
  background-color: white;
  border: 1px solid #cccccc !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
.entry-content .wp-caption img[class*="wp-image-"],
body#tinymce .wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 5px auto;
  max-width: 98%;
}
.entry-content .wp-caption .wp-caption-text,
body#tinymce .wp-caption .wp-caption-text {
  margin: 5px;
  font-size: 75%;
  color: #737373;
}
.entry-content .wp-caption-text,
body#tinymce .wp-caption-text {
  text-align: center;
}

/* gallery */
.site-content .gallery {
  margin-bottom: 1.5em;
}
.site-content .gallery a img {
  height: auto;
  max-width: 90%;
  background-color: white;
  border: 1px solid #cccccc !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  padding: 4px;
}
.site-content .gallery dd {
  margin: 0;
}
.site-content .gallery .gallery-caption {
  font-size: 75%;
  color: #737373;
}

/*
.site-content .gallery-columns-4 .gallery-item {
}
.site-content .gallery-columns-4 .gallery-item img {
}
*/
body#tinymce.wp-editor {
  margin: 10px;
  width: 590px;
}
